#include "resource.h"

IDB_TETRAMINO_I       PNG "..\\Resources\\tetramino_i.png"
IDB_TETRAMINO_J       PNG "..\\Resources\\tetramino_j.png"
IDB_TETRAMINO_L       PNG "..\\Resources\\tetramino_l.png"
IDB_TETRAMINO_O       PNG "..\\Resources\\tetramino_o.png"
IDB_TETRAMINO_S       PNG "..\\Resources\\tetramino_s.png"
IDB_TETRAMINO_T       PNG "..\\Resources\\tetramino_t.png"
IDB_TETRAMINO_Z       PNG "..\\Resources\\tetramino_z.png"
IDB_TETRAMINO_GHOST   PNG "..\\Resources\\tetramino_ghost.png"
